<div class="page-header">
	<h1>Naujienos <small>ir kita</small></h1>
</div>
<div class="alert alert-error" ng-show="error">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Oi!</strong> {{error}}<br/>
	<a href="/nerijus" class="btn">Atnaujinti</a>
</div>

<div class="well" ng-repeat="category in categories" ng-hide="error">
	<div class="category-header">
		<h2><a href="#/news/{{category.title}}">{{category.title}}</a></h2>
	</div>
	<div ng-repeat="article in category._embedded.article" class="clearfix">
		<h2 class="article-title">{{article.title}} <small class="label">Paskelbta: {{article.createdAt}}.</small></h2>
		<p ng-bind-html-unsafe="article.content | trimArticle"></p>
	</div>
</div>